@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';
@custom-variant dark (&:where(.p-dark, .p-dark *));


.ps-card {
  background: var(--p-content-background);
  border: 1px solid var(--p-content-border-color);
  border-radius: var(--p-content-border-radius);
  margin-bottom: .5rem;
  padding: .2rem 1rem;
}

.p-menubar {
  border: none !important;
  border-bottom: 1px solid var(--p-content-border-color) !important;
  border-radius: 0 !important;
}

i:not(.pi) {
    background-color: var(--p-content-border-color);
    border-radius: 6px;
    color: var(--mark-text);
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-style: normal;
    font-weight: 600;
    padding-block: 2px;
    padding-inline: 6px;
    position: relative;
    scroll-margin-top: 6.5rem;
    white-space: nowrap;
}

.doc-table th {
  border-bottom: 1px solid var(--border-color);
  padding-block: .5rem;
  padding-inline: 1rem;
  text-align: start;
  text-transform: capitalize;
}
.doc-table tbody td {
    border-bottom: 1px solid var(--border-color);
    line-height: 1;
    padding-block: .2rem;
    padding-inline: 1rem;
    scroll-margin-top: 6.5rem;
    white-space: pre-line;
}

.doc-table tr th:first-child,
.doc-table tr td:first-child {
  padding-inline: 0rem !important;
}



/* 1:1 (квадрат) */
.img-square {
  aspect-ratio: 1 / 1;
}

/* 16:9 (ландшафт) */
.img-landscape {
  aspect-ratio: 16 / 9;
}

/* 4:3 (стандарт) */
.img-standard {
  aspect-ratio: 4 / 3;
}

/* 9:16 (портрет) */
.img-portrait {
  aspect-ratio: 9 / 16;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}